<ion-view view-title="To Do" overflow-scroll="true">
  <ion-nav-buttons side="right">
    <div class="buttons">
      <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
          Reorder
      </button>
    </div>
  </ion-nav-buttons>

  <ion-nav-buttons side="left">
    <div class="buttons">
      <button class="button button-icon icon ion-ios-minus-outline"
        ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
    </div>
    <div class="buttons">
      <button class="button button-icon icon ion-ios-plus-outline" ng-click="modal.show()"></button>
    </div>
  </ion-nav-buttons>

  <ion-content>
    <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->

    <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
      <ion-item ng-repeat="item in items" item="item" href="#/tab/todo/{{item.name}}" class="item-remove-animate">
        {{item.name}}
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)">
        </ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="edit(item)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-calm" ng-click="mark(item)">
          Mark
        </ion-option-button>
        <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
